
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  padding: 50px 40px;
  margin-top: 100px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sub {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background-color: #dadada;
  border-radius: 20px;
}

span {
  font-size: 1.5rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.formBox {
  padding: 50px 40px;
  margin-top: 100px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
label {
  font-size: 1rem;
  width: 100%;
}

input {
  margin-top: 8px;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #e4e4e4;
}

input:focus {
  border: 1px solid #585858;
  background-color: #ececec;
}

.form-element {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 0.9rem;
  color: red;
  margin-top: 8px;
}

button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #50a2ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #2088ff;
}